header{
    background-color: gray;
    height: 65px;
    border-radius: 10px;
    padding-top: 1px;
}

header nav{
    background-color: white;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-left: 460px;

}

header nav #titulo {
    padding-top: 4px;
    text-align: left;
    margin-left: 15px;
}

main{
    margin-top: 15px;
    background-color: gray;
    width: 507px;
    height: 352px;
    border-radius: 10px;
    padding-top: 2px;
}

main #principal {
    background-color: white;
    width: 140px;
    height: 30px;
    margin-left: 20px;
    padding-top: 10px;
    text-align: center;
    border-radius: 10px;
}

aside {
    background-color: gray;
    height: 355px;
    width: 240px;
    border-radius: 10px;
    margin-left: 527px;
    margin-top: -355px;
    padding-top: 1px;
}

aside #aside {
    background-color: white;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin-left: 15px;
}

footer{
    background-color: gray;
    height: 65px;
    border-radius: 10px;
    padding-top: 1px;
    margin-top: 18px;
}

#footer{
    background-color: white;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
}

footer #footer {
    margin-top: 12px;
    padding-top: 10px;
    text-align: center;
    margin-left: 15px;
}
