body{
    background-color: rgb(40,50,100);
}

#espaco{
    margin-top: -120px;
}

#div1{
    background-color: rgb(0, 150, 255);
    border: 2px solid white;
    width: 700px;
    height: 700px;
    margin: 200px;
    margin-left: 127px;
}

#div1 img{
    width: 500px;
    height: 500px;
    padding-left: 100px;
    padding-top: 100px;
}

#div2{
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
    width: 700px;
    height: 700px;
    margin: 200px;
    margin-left: 830px;
    margin-top: -904px;
}

#div2 h2 {
    padding: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
}

#div2 .form1{
    text-align: left;
    padding-left: 180px;
    margin-top: -110px;
}

#div2 .form1 input{
    width: 335px;
    height: 30px;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    margin-top: 15px;
    border-color: white;
}

#div2 .form1 button{
    width: 341px;
    height: 35px;
    background-color: rgb(0, 150, 255);
    border-radius: 5px;
    margin-top: 42px;
    border-color: 1px solid white;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

#div2 p  {
    margin-top: 65px;
    text-align: center;
    padding-right: 125px;
}

#div2 p a {
    color: rgb(0, 150, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#div2 .form2 {
    margin-top: -68px;
    margin-left: 180px;
    font-size: 15px;
}

#div2 .form2 a {
    margin-left: 110px;
    color: rgb(0, 150, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

#div2 .form2 h3 {
    
}


