h1{
    text-align: center;
    background-color: aqua;
    margin-left: 200px;
    margin-right: 200px;
    height: 70px;
    padding-top: 25px;
    border: 2px solid black;
    border-radius: 15px;
}

.div1 {
    background-color: yellow;
    width: 1265px;
    height: 70px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.div1 ul li {
    text-align: center;
    display: inline;
    margin-left: 235px;
    padding-top: 20px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div2 {
    margin-top: 25px;
    background-color: greenyellow;
    width: 600px;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
}

.div2 h2 {
    padding-left: 35px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div2 ul li {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div3 {
    margin-top: 20px;
    background-color: orange;
    width: 600px;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 650px;
}

.div3 h2 {
    padding-left: 35px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div3 ul li {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div4 {
    margin-top: 20px;
    background-color: red;
    width: 600px;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
}

.div4 h2 {
    padding-left: 35px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.div4 ul li {
    text-align: left;
    padding-left: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    margin-top: 22px;
    text-align: center;
    background-color: aqua;
    margin-left: 1px;
    margin-right: 1px;
    height: 140px;
    padding-top: 80px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 25px;
}