body {
    background-color: rgb(95,250,255);
}

.menu_contato {
    background-color: #006494;
    height: 90px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    border: 2px solid black;
    border-radius: 15px;
}

.menu_contato nav {
    text-align: center;
    padding-top: 32px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -50px;
}

.menu_contato nav a {
    text-decoration: none;
    margin-left: 55px;
    color: white;
}

.menu_contato nav a:hover {
    color: rgb(95,250,255);
}

.menu_contato h1 {
    margin-top: 55px;
    margin-left: 370px;
    color: black;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e8f1f2;
    width: 495px;
    height: 55px;
    padding-top: 5px;
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 15px;
    border-style: dashed;
    text-align: center;
}

.formulario {
    background-color: #e8f1f2;
    margin-top: 9%;
    margin-left: 20%;
    margin-right: 20%;
    height: 520px;
    padding: 15px 50px 20px;
    border: 2px solid black;
    border-radius: 15px;
    border-style: dashed;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    height: 785px;
}

.formulario .titulo {
    text-align: center;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario .nome {
    margin-top: 80px;
}

.formulario .nome label {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario .nome input{
    margin-top: 20px;
    width: 650px;
    height: 40px;
    border-radius: 15px;
}

.formulario .nome input:hover {
    background-color:rgb(95,250,255);
}

.formulario .email {
    margin-top: 20px;
}

.formulario .email label {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario .email input {
    margin-top: 20px;
    width: 650px;
    height: 40px;
    border-radius: 15px;
}

.formulario .email input:hover {
    background-color: rgb(95,250,255);
}

.formulario .mensagem {
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 20px;
}

.formulario .mensagem label {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario .mensagem textarea {
    margin-top: 20px;
    width: 650px;
    height: 200px;
    border-radius: 15px;
}

.formulario .mensagem textarea:hover {
    background-color: rgb(95,250,255);
}

.formulario button {
    margin-top: 35px;
    margin-left: 230px;
    font-size: 1.8em;
    background-color: #006494;
    width: 200px;
    height: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e8f1f2;
    border-radius: 15px;
}

.formulario button:hover {
    background-color:#00293b;
}

footer{
    background-color: #006494;
    margin-top: 80px;
    height: 100px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    padding-top: 80px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
}