body{
    background-color: azure;
}

body,ul,li,p {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background: black;
    height: 40px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 14px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.login li {
    margin-left: 1820px;
    margin-top: -30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin: 15px;
    padding: 10px;
    border: 1px solid;
    background-color: gray;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

.box p {
    text-align: justify;
    margin-left: 310px;
    margin-top: -205px;
    height: 210px;
    color: white;
}

.box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}