body{
    background-color: #cfebfc;
}

.menu_cadastro {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #3eaef4;
    border: 2px solid #228dcf;
    height: 85px;
    border: 4px solid #228dcf;
}

.menu_cadastro h2 {
    padding-top: 10px;
    padding-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.menu_cadastro button{
    background-color: white;
    color: #228dcf;
    margin-left: 15px;
}

.menu_cadastro button a{
    text-decoration: none;
    color: #228dcf;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario {
    margin-top: 35px;
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    height: 530px;
    width: 390px;
    border: 4px solid #228dcf;
}

button{
    width: 150px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 119px;
    background-color: #228dcf;
    margin-top: 50px;
    font-size: 19px;
}

.formulario .nome{
    padding-top: 85px;
    padding-left: 30px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario .nome input{
    width: 320px;
    height: 25px;
}

.formulario .email{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario .email input{
    width: 320px;
    height: 25px;
}

.formulario .senha{
    padding-top: 5px;
    padding-left: 30px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario .senha input{
    width: 320px;
    height: 25px;
}


